<% doctors.forEach( doctor => { %>
    <div class="doc-card">
        <h5 class="doc-name"><%= doctor.username %></h5>
        <div class="doc-info">
            <ul>
                <li>
                    <i class="fas fa-certificate icon"></i>
                    <span><%= doctor.doctorProfile.speciality.join(", "); %></span>
                </li>
                <li>
                    <i class="fas fa-award icon"></i>
                    <span><%= doctor.doctorProfile.education.join(", "); %></span>
                </li>
                <li>
                    <i class="fas fa-clock"></i>
                    <span><%= (doctor.doctorProfile.experience || 'Unknown') + " Years of Experience"%></span>
                </li>
                <li>
                    <i class="fas fa-hospital icon"></i>
                    <span><%= doctor.doctorProfile.hospitals.join(", "); %></span>
                </li>
                <li>
                    <i class="fas fa-map-marker-alt icon"></i>
                    <span><%= doctor.doctorProfile.location %></span>
                </li>
                <li>
                    <i class="fas fa-rupee-sign icon"></i>
                    <span><%= doctor.doctorProfile.fees %></span>
                </li>
            </ul>
        </div>
        <div class="appointment-btn">
            <button id="book-btn" class="book-btn" onclick="showAppointments('<%= doctor._id %>', this)">Book an appointment</button>
        </div>
        <div class="appointment-group hidden-active">
            <div class="schedules-ctr">
                <div class="left-anchor anchor prev" onclick="shiftSlides(-1, this)">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="schedules">
                    <%//- include("partials/schedulesPartial") %>   
                    <%/* <div class="schedule">
                        <h4 class="appointment-date">Sun, Sep 20 2020</h4>
                        <h5 class="total-slots">4 Slots Available</h5>
                    </div>
                    <div class="schedule">
                        <h4 class="appointment-date">Sun, Sep 20 2020</h4>
                        <h5 class="total-slots">4 Slots Available</h5>
                    </div>
                    <div class="schedule">
                        <h4 class="appointment-date">Sun, Sep 20 2020</h4>
                        <h5 class="total-slots">4 Slots Available</h5>
                    </div> */%>
                </div>
                <div class="right-anchor anchor next" onclick="shiftSlides(1, this)">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="slots-ctr hidden-active">
                <div class="day-timing">
                    <span>
                        <i class="fas fa-sun"></i>
                        Morning
                    </span>
                    <span>
                        <i class="fas fa-sun"></i>
                        Afternoon
                    </span>
                    <span>
                        <i class="fas fa-sun"></i>
                        Evening
                    </span>
                </div>
                <div class="slots-timing">
                    <ul class="morning-slots">
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                    </ul>
                
                    <ul class="afternoon-slots">
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                    </ul>

                    <ul class="evening-slots">
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                        <li class="slot">01:00 - 02:00</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="doc-img">
            <img src="<%= doctor.image%>"
                alt="<%= doctor.username%>">
        </div>
    </div>
<% })%>