<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctors</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/root.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/book_appointment.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/help-query.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

</head>

<body>
    <!-- Header starts -->
    <%- include("partials/header") %>
    <!-- Header Ends -->

    <section>
        <div class="doctor-details section-item">
            <h1>In Clinic Appointment</h1>
            <div class="time-info">
                <h3 class="book-date">
                    <i class="far fa-calendar-plus"></i>
                    <% var options = { day: 'numeric', month: 'short', year: 'numeric'}%>
                    <%= (new Intl.DateTimeFormat('default', options)).format(slot.date) || 'Sep 22, 2020'%>
                </h3>
                <h3 class="book-time">
                    <i class="far fa-clock"></i>
                    <%= slot.startTime + ' - ' + slot.endTime %>
                </h3>
            </div>
            <div class="doctor-info info-ctr">
                <div class="doc-img img-ctr">
                    <img src="<%= slot.doctor.id.image %>" alt="<%= slot.doctor.username %>">
                </div>
                <div class="doc-about about-ctr">
                    <h5><%= slot.doctor.username %></h5>
                    <h5><%= slot.hospital %></h5>
                </div>
            </div>
            <div class="hospital-info info-ctr">
                <div class="hospital-img img-ctr">
                    <img src="https://res.cloudinary.com/devcloudmedia/image/upload/v1599234566/Tvastra/user/profile_image/1599234564355image--006.jpg" alt="Fortis">
                </div>
                <div class="hospital-about about-ctr">
                    <h5><%= slot.hospital %></h5>
                    <h5>New Delhi</h5>
                </div>
            </div>
        </div>
        <div class="patient-details section-item">
            <h2>Patient Details</h2>
            <form action="/book-appointment/<%= slot._id %>" method="POST">
                <div class="form-grp appointment-info-header-grp">
                    <h5>This Appointment is for:</h5>
                </div>
                <div class="form-grp">
                    <input type="radio" onclick="togglePatient('self')" name="patient" id="self-booking" value="self" checked>
                    <label for="self-booking"><%= currentUser.username %></label>
                </div>
                <div class="form-grp">
                    <input type="radio" onclick="togglePatient('other')" name="patient" id="other-booking" value="other">
                    <label for="other-booking">Someone else</label>
                </div>
                <div class="form-grp patient-info-header-grp">
                    <h5>Please provide following information:</h5>
                </div>
                <div class="form-grp">
                    <label for="patient-name">Patient's Full Name</label>
                    <input type="text" name="patient-name" id="patient-name" value="<%= currentUser.username %>" required>
                </div>
                <div class="form-grp">
                    <label for="mobile">Mobile</label>
                    <input type="number" name="mobile" id="mobile" value="<%= currentUser.mobile %>" disabled>
                </div>
                <div class="form-grp">
                    <label for="patient-mobile">Patient's Mobile</label>
                    <input type="number" name="patient-mobile" id="patient-mobile" value="<%= currentUser.mobile %>" required>
                </div>
                <div class="form-grp">
                    <label for="patient-email">Patient's Email</label>
                    <input type="email" name="patient-email" id="patient-email" value="<%= currentUser.email %>" required>
                </div>
                <div class="form-grp">
                    <button type="submit" class="submit-btn">
                        Book Appointment
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>

     <!-- Footer  -->
    <footer class="footer">
        <img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
            alt="logo">

        <ul class="tvastra-footer">
            <li><a href="doctor.html">Doctor</a></li>
            <li><a href="hospital.html">Hospital</a></li>
            <li><a href="treatment.html">Treatment</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
            <li><a href="FAQ.html">FAQs</a></li>
        </ul>

        <div class="social-icons" id="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <p class="copyright">All Rights Reserved. &copy; tvastra 2020</p>
    </footer>

    <script src="/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/scripts/doctors.js"></script>
    <script src="/scripts/flash.js"></script>
    <script>
        let patientName = document.querySelector("#patient-name").value;
        let patientMobile = document.querySelector("#patient-mobile").value;
        let patientEmail = document.querySelector("#patient-email").value;

        console.log(patientName, patientMobile, patientEmail);

        function togglePatient(patient) {
            if(patient === 'self') {
                document.querySelector("#patient-name").value = patientName;
                document.querySelector("#patient-mobile").value = patientMobile;
                document.querySelector("#patient-email").value = patientEmail;
            }
            else if(patient === 'other') {
                document.querySelector("#patient-name").value = "";
                document.querySelector("#patient-mobile").value = "";
                document.querySelector("#patient-email").value = "";    
            }
        }


    </script>
    
</body>

</html>