<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctor's Profile</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/root.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/banner.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/doctor's-profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/help-query.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

</head>

<body>
    <!-- Header starts -->
    <%- include("partials/header") %>
    <!-- Header Ends -->

    <!-- Banner -->
    <div class="banner">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" alt="banner-bg">
        <div class="banner-text">
            <h1>About <%= username %></h1>
            <span>Home / Doctor Profile</span>
        </div>
    </div>

    <!-- About Doctor -->
    <section class="about-doctor-section">
        <main class="about-doctor-container">
            <div class="doc-profile-cta-box">
                <div class="doc-img-box">
                    <img class="doc-img"
                        src="<%= image %>"
                        alt="<%= username %>">
                </div>
                <a class="book-btn-anchor" href="book-appointment.html">
                    <button class="book-btn">Book an appointment</button>
                </a>
            </div>
            <div class="doc-basic-bio">
                <h2 class="doc-name"><%= username || "John Nission abc"%></h2>
                <p>
                    <%= docProfile.bio %>
                </p>
            </div>
            <div class="doc-detailed-bio">
                <ul>
                    <li>
                        <div class="bio-item-heading specialization">
                            <i class="fas fa-award icon heading-icon"></i>
                            <h3>Specialization</h3>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                        <div class="bio-item-content accordion-panel specialization-content">
                            <p>
                                <%= docProfile.speciality.join(", "); %>
                                <% /* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur possimus provident
                                cumque quam sit. Dignissimos fuga voluptates nemo minima esse doloribus odit aliquam ad
                                minus est, doloremque magnam natus quibusdam! */%>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="bio-item-heading list-of-treatments">
                            <i class="fas fa-stethoscope heading-icon"></i>
                            <h3>List Of Treatments</h3>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                        <div class="bio-item-content accordion-panel list-of-treatments-content">
                            <p>
                                <%= docProfile.treatments.join(", "); %>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="bio-item-heading work-experience">
                            <i class="fas fa-hospital icon heading-icon"></i>
                            <h3>Work Experience</h3>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                        <div class="bio-item-content accordion-panel work-experience-content">
                            <p>
                                <%= docProfile.experience %> Years of Experience
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="bio-item-heading qualification">
                            <i class="fas fa-star heading-icon"></i>
                            <h3>Qualification</h3>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                        <div class="bio-item-content accordion-panel qualification-content">
                            <p>
                                <%= docProfile.education.join(", "); %>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="bio-item-heading awards">
                            <i class="fas fa-trophy heading-icon"></i>
                            <h3>Awards</h3>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                        <div class="bio-item-content accordion-panel awards-content">
                            <p>
                                <%= docProfile.awards.join(", "); %>
                                <%= docProfile.awards %>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="bio-item-heading location">
                            <i class="fas fa-map-marker-alt heading-icon"></i>
                            <h3>Location</h3>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                        <div class="bio-item-content accordion-panel location-content">
                            <p>
                                <%= docProfile.location %>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="bio-item-heading avg-fees">
                            <i class="fas fa-rupee-sign heading-icon"></i>
                            <h3>Avg Fees</h3>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                        <div class="bio-item-content accordion-panel avg-fees-content">
                            <p>
                                <%= docProfile.fees %> INR
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </section>

    <!-- Need Help Query -->
    <section class="help-query">
        <div class="left-content">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you</p>
        </div>
        <div class="right-content">
            <button onClick="location.href='submit-your-query'">Submit your enquiry</button>
        </div>
    </section>
    <!-- Need Help Ends -->

    <!-- Footer  -->

    <%- include("partials/footer") %>


    <script src="/scripts/script.js"></script>
    <script src="/scripts/flash.js"></script>
    <script src="/scripts/accordion.js"></script>

</body>

</html>